* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Ubuntu", sans-serif;
}

.heading {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
}
.container {
  background-color: beige;
}

#forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-left: 10%;
}

#text {
  font-size: 1rem;
  padding: 12px;
  margin: 12px;
}

#desc {
  padding: 12px;
  margin: 12px;
}

#sub {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 12px;
  margin: 12px;
  width: 50%;
  display: flex;
  cursor: pointer;
  margin-left: 20%;
  background-color: bisque;
  border-radius: 12px;
  border-color: 1px red;
  justify-content: center;
  align-items: center;
}

#sub:hover {
  background-color: aqua;
}

.todo {
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 10px;
  word-wrap: break-word;
}

.todo p {
  font-size: 1rem;
  padding: 12px;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 700;
}
.todo > div {
  width: 100%;
}

.todo span {
  opacity: 0.5;
  padding: 12px;

  font-size: 1rem;
}

.resbtn {
  padding: 10px;
  border-radius: 30%;
  width: 35px;
  cursor: pointer;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  background-color: black;
  color: white;
}

.resbtn:hover {
  background-color: red;
}
